/* 列表页样式 */

/* logo部分的一些变动 */
.logo_miaosha {
    position: absolute;
    left: 186px;
    top: 44px;
    width: 71px;
    height: 26px;
}

/* nav模块 */
.nav {
    height: 47px;
    line-height: 47px;
    font-size: 16px;
    border-bottom: 2px solid #b1191a;
    /* background-color: greenyellow; */
}

.nav_left {
    float: left;
}
.nav_left ul li {
    float: left;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    padding: 0px 30px;
}
.nav_right {
    float: left;
}
.nav_right ul li {
    float: left;
    font-size: 14px;
    color: #666;
    padding: 0px 24px;
}
.nav_right ul li:last-of-type::after {
    font-family: "iconfont";
    content: "\e665";
    color: #6e6e6e;
    font-size: 14px;
    margin-left: 2px;
}

/* 列表页主体部分container */
.container_bd {
    margin-top: 26px;
}
.container_bd ul li {
    float: left;
    width: 290px;
    height: 460px;
    margin-bottom: 10px;
    margin-right: 13px;
    border: 1px solid transparent;
    background-color: #fff;
}
.container_bd ul li:nth-of-type(4n) {
    margin-right: 0px;
}
.container_bd ul li img {
    width: 100%;
    height: 283px;
}
.container_bd ul li:hover {
    border: 1px solid #e12228;
}
.comment {
    font-size: 14px;
    margin: 10px 14px;
    color: #666;
}
.redbold {
    font-size: 22px;
    color: #e60012;
    margin: 0px 8px 0px 14px;
}
.grayunderline {
    font-size: 14px;
    color: #a4a4a4;
    text-decoration: line-through;
}
.sell {
    height: 15px;
    line-height: 15px;
    margin: 9px 14px;
    /* background-color: gold; */
}
.sell span {
    float: left;
    display: block;
}
.sold {
    font-size: 14px;
    color: #666;
    /* background-color: greenyellow; */
}
.persent {
    width: 120px;
    height: 12px;
    border: 1px solid #e95a5f;
    border-radius: 6px;
    margin: 0px 8px;
    background-color: #eb8688;
}
.leave {
    font-size: 14px;
    color: #666;
    /* background-color: tomato; */
}
.leave i {
    font-size: 14px;
    color: #eb8688;
}
.container_bd ul li button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #fff;
    background-color: #b1191a;
}