* {
    margin: 0;
    padding: 0;
}
.w {
    width: 1200px;
    margin: auto;
}
body {
    background-color: #f3f5f7;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* 清除浮动 */
.clearfix:before, .clearfix:after {
            content: "";
            display: table;
        }
.clearfix:after {
    clear: both;
}
.clearfix {
    /* IE6、7专有 */
    *zoom: 1;
}
/* 头部 */
.header {
    height: 42px;
    /* background-color: bisque; */
    /* 此处会层叠w中的margin设置 */
    margin: 30px auto;
}
/* logo部分 */
.logo {
    float: left;
    width: 228px;
    height: 42px;
    /* background-color: aqua; */
}
/* 头部的导航栏 */
.nav {
    float: left;
    height: 42px;
    margin-left: 37px;
    /* background-color: blueviolet; */
}
.nav ul li {
    float: left;
}
.firstleft {
    margin-left: 46px;
}
.nav ul li a {
    display: block;
    padding: 0px 21.5px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
    
    
}
.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}
/* 搜索框部分 */
.search {
    float: left;
    /* width: 412px; */
    height: 42px;
    margin-left: 73.5px;
    /* background-color: black; */
}
.search input {
    float: left;
    width: 340px;
    height: 39px;
    padding-left: 20px;
    border-right: 0;
    border: 1px solid #00a4ff;
    color: #bfbfbf;
    font-size: 14px ;

}
.search input:hover {
    border:2px solid #00a4ff;
}
.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* background-color: #00a4ff; */
    border: none;
    background: url(images/search_button.png);
}
/* 用户信息部分 */
.user {
    float: right;
    margin-right: 36px;
    font-size: 14px;
    line-height: 42px;
    color: #666;
}
.user a:hover {
    color: #00a4ff;
}
/* banner部分 */
.banner {
    height: 420px;
    background-color: #1c036c;
}
.banner .w {
    height: 420px;
    /* 注意此处图片用来做背景，是在css文件中以background: url()的形式引入的 */
    background: url(images/banner.png) no-repeat top center;
}
.subnav {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);
}
.subnav ul li {
    padding: 0px 20px;
    height: 46px;
    line-height: 46px;
}
.subnav ul li a {
    font-size: 14px;
    color: #fff;
}
.subnav ul li:hover {
    background-color: #00a4ff;
}
.subnav ul li a span {
    float: right;
}
/* 课程表部分 */
.course {
    float: right;
    margin-top: 48px;
    width: 229px;
    height: 300px;
    background-color: #fff;
}
.course>h2 {
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #9bceea;
}
.course .content ul {
    padding: 0px 18px;
}
.course .content ul li {
    padding: 14px 0px;
    border-bottom: 1px solid #eaeaea;
}
.course .content ul li h3 {
    font-size: 16px;
    color: #4e4e4e;

}
.course .content ul li p {
    font-size: 12px;
    color: #a5a5a5;
}
.more_courses a {
    display: block;
    margin-top: 5px;
    height: 28px;
    font-size: 16px;
    font-weight: bold;
    color: #22b0ff;
    text-align: center;
    line-height: 28px;
    border: 1px solid #22b0ff;
}
/* 精品推荐部分 */
.goods {
    height: 60px;
    line-height: 60px;
    margin-top: 6px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
}
.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #00a4ff;
}
.goods ul {
    float: left;
    margin-left: 30px;
    /* background-color: #050505; */
}
.goods div a {
    float: right;
    padding-right: 61px;
    font-size: 14px;
    color: #00a4ff;
}
.goods ul li {
    float: left;
}
.goods ul li a {

    /* float: left; */
    padding: 0px 31px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #bfbfbf;
}
.goods ul li a:hover {
    color: #00a4ff;
}
.box {
    margin-top: 37px;
}
.boxhead {
    height: 27px;
}
.boxhead h3{
    float: left;
    font-size: 20px;
    color: #494949;
}
.boxhead a {
    float: right;
    font-size: 14px;
    color: #00a4ff;
    margin-right: 61px;
}
.boxbody {
    height: 572px;
    width: 1215px;
}
.boxbody ul li {
    position: relative;
    float: left;
    width: 228px;
    height: 271px;
    background-color: #fff;
    margin-top: 15px;
    margin-right: 15px;
}
.boxbody ul li .tag {
    position: absolute;
    top: 4px;
    right: -4px;
}
.boxbody ul li>img {
    width: 100%;
}
.boxbody ul li h3 {
    font-size: 14px;
    color: #050505;
    margin: 25px 23px 18px 23px;
}
.boxbody ul li h3:hover {
    color:#00a4ff;
}
.boxbody ul li .bottomtext {
    height: 13px;
    line-height: 13px;
    margin: 0px 23px 25px 23px;
}
.boxbody .degree {
    float: left;
    font-size: 12px;
    color: #ff7c2d;
}
.boxbody .number {
    float: left;
    font-size: 12px;
    color: #999;
}
.boxbody .dot {
    float: left;
    font-size: 12;
    color: #999;
    margin: 0px 9px;
}
/* 网页尾部部分，先要清除浮动 */
.footer {
    margin-top: 40px;
    height: 417px;
    background-color: #fff;
}
.footer .w {
    padding-top: 32px;
    /* background-color: #050505; */
}
.copyright {
    display: inline-block;
    margin-left: 23px;
}
.copyright p {
    margin: 24px 0px 15px 0px;
    font-size: 12px;
    color: #666;
    /* background-color: #1c036c; */
}
.copyright a {
    /* a标签要转成块元素才能设置宽度和高度 */
    display: block;
    width: 120px;
    height: 35px;
    /* 水平居中垂直对齐 */
    line-height: 35px;
    text-align: center;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    font-size: 16px;
}
.links {
    display: inline-block;
    float: right;
}
.links>div {
    float: right;
    margin: 0px 74px;
}
.links>div h3 {
    margin-bottom: 15px;
    font-size: 16px;
    color: #7d7d7d;
}
.links>div ul li {
    margin-bottom: 9px;
}
.links>div ul li a {
    font-size: 12px;
    color: #333;
}
.links>div ul li a:hover {
    color: #00a4ff;
}